<div class="contaier">

    <div class="row">
        
        <div class="col-12 justify-content-between d-flex">
            
            <a class="text-dark" routerLink = "/" routerLinkActive="active">
                <h2 class="text-left m-3">Ghifii</h2>
            </a>
            <a class="ml-auto m-3 mt-4 text-center text-warning" routerLink = "favorites" routerLinkActive="active">
                My Favorites
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" input-group mb-3">
                <input type="text" class="form-control" placeholder="Search GIFs"  [(ngModel)] = "query" (keydown.enter) = "onSearch()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" (click) = "onSearch()"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
