<div class="container">
    <div class="row justify-content-start">
        <div class="col-12">
            <h5 class=" text-break">{{requestDone ? gifToDisplay.title: ""}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img [ngClass] = " { 'd-none' : !requestDone}" class=" w-100" src="{{requestDone ? gifToDisplay.image.gifDetailUrl:'' }}">
            <div *ngIf ="!requestDone" class="load-wraper w-100">
                <div class="activity"></div>
            </div>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p class=" text-break">Made by: {{ requestDone ? gifToDisplay.username: 'Not Avaible' }}</p>
            <p>Source: <a class=" text-break" href="{{requestDone ? gifToDisplay.source: ''}}">{{ requestDone ? gifToDisplay.source:'Not Avaible'}}</a></p>
            <p>Last updated: {{requestDone ? gifToDisplay.update_datetime: 'Not Avaible' }}</p>
        </div>
    </div>

</div>
